<?xml version="1.0"?>
<configuration>
    <system.web>
        <machineKey compatibilityMode="Framework20SP2"
                    validationKey="AE95A1CD40DCEE5035608ADEB8D27B0A10EBAEDF"
                    decryptionKey="0329A3F7BE0AC38F801A8E859E0D16BA" validation="SHA1"
                    decryption="AES"/>
    </system.web>
</configuration>
